.container {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  width: 960px;
}

.containerLeft {
  display: flex;
  justify-content: left;
  margin-top: 50px;
  margin-left: 30vh;
  width: 960px;
}
